<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <title>Flask AJAX Demo</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
</head>
<body>
    <h1>Flask Ajax Demo</h1>
    <form action="" class="f1">
        <div class="form">
            <label for="x">x</label>
            <input type="number" name="x" id="x">
        </div>
        <div class="form">
            <label for="y">y</label>
            <input type="number" name="y" id="y">
        </div>
        <div class="form">
            <button type="submit">Add</button>
            <p></p>
        </div>
    </form>
    <div id="result">
        <button id="clear">
            Clear
        </button>
    </div>
    <script src="{{url_for('static', filename = 'script.js')}}"></script>
</body>
</html>